@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.peer:hover::placeholder {
  color: #5e5e60;
}

.input:focus-within {
  box-shadow: 0px 0px 0px 4px rgba(137, 87, 239, 0.2) !important;
}

.error:focus-within {
  box-shadow: 0px 0px 0px 4px rgba(255, 64, 30, 0.24) !important;
}

.button:focus-within {
  box-shadow: 0px -1px 2px 0px rgba(34, 44, 59, 0.48) !important;
}

/* Custom CSS to hide placeholder text on focus */
@layer utilities {
  .focus-within\:flex:focus-within {
    display: flex;
  }
}
